
body { 
    font-family: 'Segoe UI', sans-serif; 
    margin: 0;
  
     }
.container { 
     width: 80%; 
    margin: 0 auto;
}
header { 
    background: #1E3A8A; 
    color: white;
    padding: 20px 0; }
header h1 {
     display: inline-block; 
     margin: 0; 
}
nav { 
    float: right;
   
     }
nav a {
     color: white; 
     text-decoration: none; 
     margin: 0 15px; 
     font-weight: 500;
     }
nav a:hover, .active {
     text-decoration: underline;
     }
.images{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

footer {
     background: #1E3A8A;
      color: white; text-align: 
      center; padding: 15px 0; 
      clear: both;
       margin-top: 50px;
     }