 
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #F1F5F9;
}
.container {
  width: 80%;
  margin: 0 auto;
}


header {
  background-color: #1E3A8A;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;
}

header h1 {
  display: inline-block;
  margin: 0;
}
nav {
  float:right
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin:15px
}
nav a:hover,
nav a.active {
  text-decoration: underline;
}


.dashboard-hero {
  text-align: center;
  padding: 40px 20px;
}
.dashboard-hero h2 {
  color: #1E3A8A;
  font-size: 32px;
  margin-bottom: 10px;
}
.dashboard-hero p {
  color: #555;
  font-size: 16px;
}


.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
}
.dashboard-cards .card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(37, 99, 235, 0.15);
  border: 1px solid #CBD5E1;
  text-align: center;
  transition: 0.3s;
}
.dashboard-cards .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.25);
}
.dashboard-cards .card h3 {
  margin-bottom: 12px;
  color: #1E3A8A;
}
.dashboard-cards .card p {
  color: #555;
  margin-bottom: 15px;
  font-size: 14px;
}
.dashboard-cards .card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1E3A8A;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.dashboard-cards .card .btn:hover {
  background-color: #2563EB;
}


footer {
  background: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 340px;
}
 


/* RESPONSIVE */
@media (max-width: 768px) {

  header .container {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .dashboard-hero h2 {
    font-size: 26px;
  }

}

@media (max-width: 480px) {

  .dashboard-hero h2 {
    font-size: 22px;
  }

  .dashboard-hero p {
    font-size: 14px;
  }

}