body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f1f5f9;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #1e3a8a;
  padding: 20px 0;
  color: white;
  margin-bottom: 10px;
}
header h1 {
  display: inline-block;
  margin: 0;
}
nav{
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

/* Hero */

.hero{
text-align:center;
padding:60px 20px;
background:linear-gradient(to right,#1e3a8a,#2563eb);
color:white;
}

.hero h2{
font-size:40px;
margin-bottom:15px;
}

.hero p{
font-size:18px;
max-width:600px;
margin:auto;
}

/* Donate Card */

.donate-section{
display:flex;
justify-content:center;
margin-top:40px;
}

.donate-card{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 6px 20px rgba(0,0,0,0.1);
text-align:center;
width:420px;
}

.donate-card h2{
color:#1e3a8a;
margin-bottom:15px;
}

.donate-text{
color:#555;
margin-bottom:25px;
}

/* Status */

.status-box{
background:#f1f5ff;
padding:15px;
border-radius:8px;
margin-bottom:25px;
font-weight:500;
}

/* Buttons */

.btn-group{
display:flex;
flex-direction:column;
gap:15px;
}

button{
padding:13px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

#donatedBtn{
background:#2563eb;
color:white;
}

#donatedBtn:hover{
background:#1e40af;
}

#notDonatedBtn{
background:#e5e7eb;
}

#notDonatedBtn:hover{
background:#cbd5e1;
}

/* Facts Section */

.facts{
margin-top:60px;
padding:50px 20px;
text-align:center;
}

.facts h2{
margin-bottom:30px;
color:#1e3a8a;
}

.facts-grid{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.fact-card{
background:white;
padding:25px;
width:220px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.fact-card h3{
color:#1e3a8a;
margin-bottom:10px;
}

/* Footer */

footer{
margin-top:60px;
text-align:center;
padding:20px;
background:#1e3a8a;
color:white;
}