/* GENERAL */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #fff7f7;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* NAVBAR (same as image) */

header { 
    background: #b30000; 
    color: white;
    padding: 20px 0; }
header h1 {
     display: inline-block; 
     margin: 0; 
}
nav { 
    float: right;
   
     }
nav a {
     color: white; 
     text-decoration: none; 
     margin: 0 15px; 
     font-weight: 500;
     }
nav a:hover, .active {
     text-decoration: underline;
     }


.motivation {

  height: 65vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.motivation .overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px;
  border-radius: 10px;
}

.motivation h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.motivation p {
  font-size: 1.1rem;
}


.donate {
  padding: 80px 0;
  text-align: center;
  background: #fff;
}

.donate h2 {
  color: #b30000;
  font-size: 2rem;
  margin-bottom: 10px;
}


 
.donate-form {
  background: #fff7f7;
  padding: 40px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.donate-form input,
.donate-form select,
.donate-form button {
  margin: 10px;
  padding: 12px;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.donate-form input:focus,
.donate-form select:focus {
  outline: none;
  border-color: #b30000;
  box-shadow: 0 0 4px rgba(179, 0, 0, 0.3);
}

.donate-form button {
  background: linear-gradient(90deg, #b30000, #ff4d4d);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 5px;
}

.donate-form button:hover {
  background: linear-gradient(90deg, #800000, #e62e2e);
  transform: scale(1.05);
}


.gallery-section {
  background: #fff7f7;
  padding: 60px 0;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.gallery img {
  width: 350px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}


