 body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f1f5f9;
}
.container {
  width: 80%;
  margin: 0 auto;
}


header {
  background-color: #1e3a8a;
  padding: 20px 0;
  color: white;
  margin-bottom: 10px;
}

header h1 {
  display: inline-block;
  margin: 0;
}
nav {
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}
nav a:hover,
.active {
  text-decoration: underline;
}



.title {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
}

/* ===== DONOR GRID ===== */
.donor-grid {
  width: 85%;
  margin: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* ===== DONOR CARD ===== */
.donor-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.donor-card:hover {
  transform: translateY(-4px);
}

.donor-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.donor-card p {
  margin: 6px 0;
}

/* ===== STATUS ===== */
.status-available {
  color: #1e3a8a;
  font-weight: 600;
}

.status-unavailable {
  color: red;
  font-weight: 600;
}

/* ===== WHATSAPP BUTTON ===== */
.whatsapp-btn {
  display: inline-block;
  margin-top: 12px;
  background-color:  #1e3a8a;
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.whatsapp-btn:hover {
  background-color: #1e3a8a;
}

/* ===== FOOTER ===== */
footer {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
}
.status-available{
color:green;
font-weight:bold;
}

.status-unavailable{
color:red;
font-weight:bold;
}

/* ===== TABLET ===== */
@media screen and (max-width: 992px) {
  .donor-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== MOBILE ===== */
@media screen and (max-width: 600px) {
  nav {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .donor-grid {
    grid-template-columns: 1fr;
  }
}