body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #F1F5F9;
}

.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background-color: #1E3A8A;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;   
}
header h1 {
  display: inline-block;
  margin: 0;
}
nav {
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}
nav a:hover,
.active {
  text-decoration: underline;
}


.donor-section h2 {
  text-align: center;
  margin: 30px ;
  font-size: 2rem;
}


.donor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px #1E3A8A(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px#1E3A8A(0,0,0,0.2);
}

.card h3 {
  margin: 0 0 10px 0;
}

.card p {
  margin: 5px 0;
}


.request-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color:  #2563EB; 
  color: white;
  text-decoration: none;    
  border-radius: 5px;
}

.request-btn:hover {
  background-color: #1E3A8A;
}


footer {
  text-align: center;
  padding: 15px 0;
  background-color: #1E3A8A;
  color: white;
  margin-top: 40px;
}

