 body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #F1F5F9;
}
.container {
  width: 80%;
  margin: 0 auto;
 
}
.hero-image {
  width: 100%;
  height: 420px;
  overflow: hidden;
  background-color: #EAF2FF;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



header {
  background-color: #1E3A8A;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;   
}



header h1 {
  display: inline-block;
  margin: 0;
}
nav {
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}
nav a:hover,
.active {
  text-decoration: underline;
}
.hero {
  background:#F1F5F9 ;
  text-align: center;
  padding: 120px 0;
}
.hero h2 {
  color: #1E3A8A;
  font-size: 36px;
}
.hero p {
  font-size: 18px;
  color: #444;
}

footer {
  background: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px 0;
  clear: both;
  margin-top: 50px;
}
#benefits h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: black;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;        
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(37, 99, 235, 0.12);
  border: 1px solid #CBD5E1;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.2);
}
.card h3 {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}  