
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #F1F5F9;
}

.container {
  width: 80%;
  margin:0 auto;
}


header {
  background-color: #1E3A8A;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;
}
header h1{
  display: inline-block;
  margin:0;
}

nav{
  float:right;
}


nav a {
  color: white;
  text-decoration: none;
  margin:15px;
  font-weight: 500;
}

nav a:hover,
.active {
 text-decoration: underline;
}


.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.login-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
  color: #1E3A8A;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #1E3A8A;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #2563EB;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #1E3A8A;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}


footer {
  background: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 170px;
  clear: both;
} 



/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  header .container {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-card {
    padding: 25px;
  }

}

@media (max-width: 480px) {

  .login-card {
    padding: 20px;
  }

  .login-card h2 {
    font-size: 22px;
  }

}