body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f1f5f9;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #1e3a8a;
  padding: 20px 0;
  color: white;
  margin-bottom: 10px;
}
header h1 {
  display: inline-block;
  margin: 0;
}
nav{
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

/* PROFILE SECTION */
.profile-section {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.profile-card {
  background: #ffffff;
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(37, 99, 235, 0.15);
  border: 1px solid #cbd5e1;
}

.profile-card h2 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 35px;
}

.profile-info p {
  font-size: 15px;
  margin: 12px 0;
  color: #333;
}

/* EDIT BUTTON */
.edit-btn {
  display: block;
  text-align: center;
  margin-top: 25px;
  padding: 12px;
  background-color: #1e3a8a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.edit-btn:hover {
  background-color: #2563eb;
}

/* FOOTER */
footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 250px;
}
