
body { 
  font-family: 'Segoe UI', sans-serif; 
  margin: 0;
  background: #fff7f7;
}

.container { 
  width: 80%; 
  margin: 0 auto;
}


header { 
  background: #b30000; 
  color: white;
  padding: 20px 0; 
}

header h1 {
  display: inline-block;
  margin: 0;
}

nav {
  float: right;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a:hover,
.active {
  text-decoration: underline;
}

.request-section {
  padding: 100px 0;
  text-align: center; 
}

.request-section h2 {
  color: #b30000;
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro {
  color: #444;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.request-form input,
.request-form select,
.request-form textarea,
.request-form button {
  margin: 10px;
  padding: 12px;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.request-form textarea {
  resize: none;
}

.request-form input:focus,
.request-form select:focus,
.request-form textarea:focus {
  outline: none;
  border-color: #b30000;
  box-shadow: 0 0 4px rgba(179, 0, 0, 0.3);
}

.request-form button {
  background: #b30000;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.request-form button:hover {
  background: #800000;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  clear: both;
  margin-top: 50px;
}
