 body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f1f5f9;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #1e3a8a;
  padding: 20px 0;
  color: white;
  margin-bottom: 10px;
}
header h1 {
  display: inline-block;
  margin: 0;
}
nav{
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}
#requests-table{
  width:100%;
  border-collapse: collapse;
  margin-top:20px;
}

#requests-table th,
#requests-table td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

#requests-table th{
  background:#1e3a8a;
  color:white;
}

#requests-table tr:nth-child(even){
  background:#f2f2f2;
}

button{
  padding:6px 12px;
  border:none;
  background:#1e3a8a;
  color:white;
  border-radius:4px;
  cursor:pointer;
}

button:disabled{
  background:gray;
}
/* ================= FOOTER ================= */
footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 390px;
  clear: both;
}

/* ================= RESPONSIVE ================= */
@media(max-width: 992px) {
  .hero-image {
    height: 300px;
  }

  .hero-cta h2 {
    font-size: 28px;
  }
}

@media(max-width: 600px) {
  header .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  nav {
    float: none;
    justify-content: center;
  }

  .hero-image {
    height: 220px;
  }

  .hero-cta h2 {
    font-size: 24px;
  }

  .hero-cta p {
    font-size: 16px;
  }
}